/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: Karla, "sans-serif";
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.05px;
  font-weight: 400;
  height: 100vh;
  width: 100vw;
}

.input {
  display: inline-block;
}

.input .input-label {
  display: flex;
  flex-direction: column-reverse;
}

.input label {
  font-size: 0.875rem;
  letter-spacing: -0.117188px;
  color: #81909d;
  display: block;
  margin-bottom: 0.5rem;
  transition: 0.2s ease-in-out;
}

.input input {
  background: #f7f9fb;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: 0.2s ease-in-out;
}

.input input::placeholder {
  color: #81909d;
}

.input input:focus {
  border: 1px solid #1d4ed8;
}

.input input:focus + label {
  color: #0b2253;
}

.button {
  border: none;
  background: #1d4ed8;
  border-radius: 8px;
  padding: 1rem 2.5rem;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  transition: 0.2s ease-in-out;
  color: #ffffff;
  cursor: pointer;
}

.button:hover {
  background: #1e40af;
}

.start-page,
.page {
  max-width: 400px;
  margin: auto;
  padding: 1.875rem 1.25rem;
}

.start-page .title,
.page .title {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2rem;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  color: #0b2253;
  margin-bottom: 0.5rem;
}

.start-page .sub-title {
  color: #9da9b3;
  font-weight: 500;
  font-size: 1.125rem;
  letter-spacing: -0.02em;
  line-height: 1.375rem;
}

.start-page .banner {
  margin-bottom: 3rem;
}

.start-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.chats-page .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chats-page .search {
  width: 100%;
}

.chat-item {
  display: flex;
  padding: 1rem 0;
}

.avatar {
  width: 50px;
  height: 50px;
  background: #1d4ed8;
  border-radius: 50%;
  overflow: hidden;
}

.avatar image {
  max-width: 100%;
}
.identity {
  width: 250px;
  padding: 0 0.5rem;
}

.identity .name {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 0.3rem;
  font-weight: 500;
}

.identity .last-message {
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0px;
}

.chat-item .meta {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chat-item .timestamp {
  text-align: right;
  margin-bottom: 0.3rem;
}

.alert-badge {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #1e944d;
}

.chat-item .alert-badge {
  align-self: flex-end;
  margin-right: 15px;
}

.chat-items {
  padding: 1rem 0;
  max-height: calc(100vh - 150px);
  overflow-x: auto;
}

.chat-items .chat-item:not(:last-child) {
  border-bottom: 1px solid #d7dce0;
}

.single-chat-page .header {
  display: flex;
  background: #ffffff;
}

.message-form {
  position: relative;
}

.message-form .input {
  width: 100%;
}

.message-form .input input {
  padding-right: calc(71.13px + 1rem);
}

.message-form .button {
  position: absolute;
  right: 0.3rem;
  top: 0.35rem;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  font-weight: 600;
}

.speach-bubble {
  border-radius: 30px;
  max-width: 60%;
  background: #1d4ed8;
  color: #ffffff;
  padding: 0.5rem 1rem;
}

.speach-bubble .timestamp {
  font-size: 0.875rem;
  text-align: right;
}

.speach-bubble.right {
  margin-left: auto;
}

.speach-bubbles {
  padding: 1rem 0;
  height: calc(100vh - 170px);
  overflow-x: auto;
}

.speach-bubbles .speach-bubble:not(:last-child) {
  margin-bottom: 1.5rem;
}

.logout-button {
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  color: #1d4ed8;
  background: transparent;
  transition: 0.2s ease-in-out;
}

.logout-button:hover {
  text-decoration: underline;
  color: #1e40af;
}
